<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>Dashboard</title>
</head>

<body class="dashboard">

    <nav>
        <h1>Logo</h1>
        <ul>
            <li>HOME</li>
            <li>Create</li>
            <li>List</li>
            <li onclick="location.href='/Users/damian/Desktop/projekty/WdPAI/public/views/login.html'">Login</li>
        </ul>
    </nav>

    <main>

        <div class="sidebar">

            Sidebar

        </div>

        <div class="elements">

            <h1>Elements<h1>
                <div class="news">
                    <div class="news-container">
                        <img class="news-image" src="https://cdn2.thecatapi.com/images/bnr.jpg" alt="News Image 1">
                        <div class="news-description">
                            <h3>News Title 1</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div> <!-- Repeat the above div for other news items --> <!-- News Container 2 -->
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 2">
                        <div class="news-description">
                            <h3>News Title 2</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 3">
                        <div class="news-description">
                            <h3>News Title 3</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 4">
                        <div class="news-description">
                            <h3>News Title 4</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 5">
                        <div class="news-description">
                            <h3>News Title 5</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 6">
                        <div class="news-description">
                            <h3>News Title 6</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 7">
                        <div class="news-description">
                            <h3>News Title 7</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="news-container"> <img class="news-image" src="https://cdn2.thecatapi.com/images/cva.jpg"
                            alt="News Image 8">
                        <div class="news-description">
                            <h3>News Title 8</h3>
                            <p>Short description of the news article goes here. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                    
        </div>
    </main>

</body>

</html>