body {
    background: #FFF;
}


body>.dashboard {
    margin: 0;
    box-sizing: border-box;
    margin-top: 70px;
}

nav {
    color: white;
    background-color: #6938D3;
    height: 70px;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#textlogo {
    height: 1em;
    width: auto;
}

#logo {
    height: 1.5em;
    width: auto;
    padding-right: 1rem;
}

nav>p {
    text-align: center;
}

nav>a {
    color: white;
    padding-left: 1.5rem;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

main>.elements {
    background-color: aquamarine;
    width: 100%;
}

.news-container {
    width: 200px;
}

.news-container>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 5vw;
    cursor: pointer;
}


.news {
    display: flex;
    flex-wrap: wrap;
    gap: 1 rem;
    justify-content: center;
}

.panel_loginu {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div>.login {
    background-color: aqua;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form>#input {
    border-radius: 0.625rem;
    background: #CCC;
    width: 15em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

input {
    background-color: #CCC;
    border: #CCC;
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

#powrot {
    margin-left: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    border-radius: 1em;
    padding: 1em
}

#logreg {
    border-radius: 25px;
    background: #6938D3;
    color: #FFF;
    width: 15em;
    text-align: center;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

#logreg:hover {
    background: #532ca8;
}

form>#logreg {
    padding: 0.5em;
    border: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 20em;
    height: 30em;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5em;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.25);
}

#lock {
    padding-left: 5px;
    padding-right: 5px;
}

/* hamburger menu */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    top: 0;
    left: 0;
    width: 25%;
    height: 75%;
    background-color: white;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.25);
    /* z-index: 1000; */
    padding-top: 60px;
    transform: translateX(-101%); /* Ukrywa menu na początku */
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #bebebe;
}
