#map {
    z-index: 0;
    width: 100%;
    height: 100vh;
}

.marker {
    z-index: 1;
    background-image: url('../../src/images/Selected_point.svg');
    background-size: cover;
    width: 20px;
    height: 24px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}